#tableContainer {
    margin: 10px auto;
    min-height: 150px;
    width: 800px;
}

table,
th,
td,
tr {
    border: 1px solid blue;
    border-collapse: collapse;
}

th,
td {
    width: 200px;
    text-align: center;
    height: 50px;
}